.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.contact-box {
  padding: 2rem;
  width: 100%;
  max-width: none;
}

.contact-title {
  color: white;
}

.contact-description {
  color: #bbb;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%; /* Ensure the form spans the full width */
}

.contact-input-group {
  display: flex;
  gap: 1rem;
  width: 100%; /* Ensure the input group spans the full width */
}

.contact-input {
  background-color: white;
  border-radius: 4px;
  flex: 1; /* Ensures both inputs share equal space */
  width: 100%; /* Ensure the input spans the full width */
}

.contact-input .MuiOutlinedInput-root {
  fieldset {
    border-color: #666 !important;
  }

  &:hover fieldset {
    border-color: white !important;
  }
}

.contact-button {
  background-color: white !important;
  color: black !important;
  font-weight: bold;
  margin-top: 1rem;
  width: 100%; /* Ensure the button spans the full width */

  &:hover {
    background-color: #5c01d4 !important;
  }
}

.MuiSnackbar-root {
  z-index: 9999 !important;
}
